<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate=~{layout-cliente}>
<head>
<title>DETALLE-PRODUCTO</title>

</head>
<body>

	<!-- ======= main ======= -->
	<div layout:fragment="main-layout">

		<div class="pagetitle">
			<h1>Tienda</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">detalle</a></li>
					<li class="breadcrumb-item active">compras</li>
				</ol>
			</nav>

		</div>
		<hr>

		<!-- Section-->
		<section>
			<div class="container">

				<div class="row my-3">

					<div class="col-md">

						<h2 class="text-center fw-bold">DETALLE DE COMPRAS</h2>

					</div>
					<hr>

				</div>


				<div class="row my-5">


					<div class="col-md-12">

						<table id="datatable" class="table table-striped table-bordered"
							style="width: 100%">

							<thead>
								<tr>

									<th>Cantidad</th>
									<th>Producto</th>
									<th>Precio</th>
									<th>Total</th>

								</tr>
							</thead>


							<tbody>

								<tr th:each="detalle : ${attrDetalles}">



									<td th:text="${detalle.cantidad}"></td>
									<td th:text="${detalle.nombre}"></td>
									<td th:text="${detalle.precio}"></td>
									<td th:text="${detalle.precioTotal}"></td>

								</tr>


							</tbody>


						</table>


					</div>


				</div>


			</div>

		</section>

	</div>
	<!-- //======= main ======= -->

</body>
</html>
