<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate=~{layout-cliente}>

<head>
	<title>DETALLE-PRODUCTO</title>

</head>

<body>

	<div th:include="layout-cliente :: header"></div>


	<main>


		<div layout:fragment="main-layout">

			<div class="pagetitle">
				<h3>Tienda</h3>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Detalle</a></li>
						<li class="breadcrumb-item active">Producto</li>
					</ol>
				</nav>

			</div>
			<hr>

			<!-- Section-->
			<section>
				<div class="card-detail custom-shadow">
					<div class="container-fliud">
						<div class="wrapper row">
							<div class="preview col-md-6">

								<div class="preview-pic tab-content">
									<div class="tab-pane active" id="pic-1">
										<img th:src="@{/images/{img} (img=${detproducto.imagen})}" />
									</div>


									<!--<div class="tab-pane" id="pic-2">
										<img src="http://placekitten.com/400/252" />
									</div>
									<div class="tab-pane" id="pic-3">
										<img src="http://placekitten.com/400/252" />
									</div>
									<div class="tab-pane" id="pic-4">
										<img src="http://placekitten.com/400/252" />
									</div>
									<div class="tab-pane" id="pic-5">
										<img src="http://placekitten.com/400/252" />
									</div>-->
								</div>
								<ul class="preview-thumbnail nav nav-tabs">
									<li th:each="caracteristica, iterStat : ${detproducto.lstCaracteristicas}"
										th:class="${iterStat.index == 0} ? 'active' : ''">
										<a th:data-target="'#pic-' + ${iterStat.count}" data-toggle="tab">
											<img th:src="@{/images/{img} (img=${caracteristica.url})}" />
										</a>
									</li>
								</ul>

							</div>



							<div class="details col-md-6">

								<form th:action="@{/addToCart}" method="POST">
									<input type="hidden" th:value="${detproducto.idProducto}" name="id">

									<h3 class="product-title" th:text="${detproducto.nombre}"></h3>
									<div class="rating">
										<div class="stars">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
										</div>
										<span class="review-no">41 reviews</span>
									</div>
									<p class="product-description" th:text="${detproducto.descripcion}"></p>
									<h6 class="price">
										precio: <span th:text=" '$' + ${detproducto.precio}"></span>
									</h6>

									<div class="col-md-3 col-lg-3 col-xl-2 d-flex align-items-center mb-3">
										<button class="btn btn-link px-2" type="button"
											onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
											<i class="fas fa-minus text-danger" style="font-size: 24px;"></i>
										</button>

										<input id="cantidad" type="number" name="cantidad" min="1" max="5" value="1"
											class="form-control text-center no-spin-button p-0 border-primary"
											style="width: 50px; font-size: 18px;">

										<button class="btn btn-link px-2" type="button"
											onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
											<i class="fas fa-plus text-success" style="font-size: 24px;"></i>
										</button>
									</div>

									<h6 class="sizes">
										sizes: <span class="size" data-toggle="tooltip" title="small">s</span>
										<span class="size" data-toggle="tooltip" title="medium">m</span>
										<span class="size" data-toggle="tooltip" title="large">l</span>
										<span class="size" data-toggle="tooltip" title="xtra large">xl</span>
									</h6>
									<h6 class="colors">
										colors: <span class="color orange not-available" data-toggle="tooltip"
											title="Not In store"></span>
										<span class="color green"></span> <span class="color blue"></span>
									</h6>
									<div class="action">

										<!--th:href="@{/addToCart/{id}(id = ${detproducto.idProducto})}"-->

										<button class="add-to-cart btn btn-dark" type="submit">
											Agregar a carrito</button>
										<!--  <button class="like btn btn-default" type="button">
										<span class="fa fa-heart"></span>
									</button>-->
									</div>
								</form>

							</div>

						</div>
					</div>
				</div>

			</section>

		</div>


	</main>


	<!-- Footer -->
	<div th:include="layout-cliente :: footer"></div>
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>


</body>

</html>