<div class="row justify-content-center">
	<div class="col-3 mt-2">
		<div th:if="${param.logout}" class="alert border-primary alert-dismissible fade show" role="alert">
			<b>Logueate de nuevo.</b>
			<button type="button" class="btn-close" data-bs-dismiss="alert"
				aria-label="Close"></button>
		</div>
	</div>
</div>

<div class="row justify-content-center">
	<div class="col-3 mt-2">
		<div th:if="${param.error}" class="alert border-danger alert-dismissible fade show" role="alert">
			<b>Ingresa tus credenciales.</b>
			<button type="button" class="btn-close" data-bs-dismiss="alert"
				aria-label="Close"></button>
		</div>
	</div>
</div>